{% extends "layout.njk" %}

{% block head %}
   <title>Sobre - Yaba Ernesto</title>
{% endblock %}

{% block content %}
   <div id="wrapper">
      <img 
         src="{{ about.avatar_url }}" 
         alt="Foto de {{ about.name }}"
      >
      <h1>{{ about.name }}</h1>
      <h2>{{ about.role }}</h2>
      <p>{{ about.description }}</p>
   </div>

   <div id="links-footer" class="links">
      <a href="{{ about.links[0].url }}" target="_blank">{{ about.links[0].name }}</a>
      <a href="{{ about.links[1].url }}" target="_blank">{{ about.links[1].name }}</a>
      <a href="{{ about.links[2].url }}" target="_blank">{{ about.links[2].name }}</a>
   </div>

   {% endblock %}