{% extends "layout.njk" %}

{% block head %}
   <title>Sobre - Yaba Ernesto</title>
{% endblock %}

{% block content %}
   <div id="wrapper">
      <img 
         src="https://avatars.githubusercontent.com/u/97414034?v=4" 
         alt="Yaba Ernesto"
      >
      <h1>Yaba Ernesto</h1>
      <h2>Aluno - Rocketseat</h2>
      <p>Programador fullstack, focado em aprender tech novas e foco em novos recursos. Aluno da <a href="hytps://rocketseat.com.br" target="_blank">Rocketseat</a>!</p>
   </div>

   <div id="links-footer" class="links">
      <a href="#" target="_blank">GitHub</a>
      <a href="#" target="_blank">Twitter</a>
      <a href="#" target="_blank">Linkedin</a>
   </div>

   {% endblock %}